@model KShop.Models.Phone

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="col-lg-1 position-fixed mt-0 p-0">
    <ul class="list-group">
        <li class="list-group-item"> <a href="/Phones"> Phones </a> </li>
        <li class="list-group-item"> <a href="/Laptops"> Laptops </a> </li>
        <li class="list-group-item" style="height: 100vh"> </li>
    </ul>
</div>

<div class="col-lg-11 offset-1 pt-2">
    <div class="row p-3">
       
    </div>
</div>
